@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('/portfolioRebuild/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Apply the hero title transform only on sm screens and above */
  @media (min-width: 640px) {
    .hero-title-transform {
      transform: scaleY(1.9) scaleX(1.5);
    }
  }
}
