@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('/olaleyevictor/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
